extends layouts/layout

mixin getBanner(data)
    .carousel-slide
        .carousel-image-container
            .media.carousel-image
                img.media-file(src=data.image_url)
        .text-wrapper.width-control-700
            .carousel-text-container
                h1.aicte-text= data.title
                .text-right
                    h2= data.summary
                    a(href=`${data.url}` class="btn-more") 
                        span= data.url_text
                        img(src="/images/Arrow 7.svg" alt="readmore" id="readmore")

mixin getPageRoll(data, title, url, className)
    div(class=`page-roll ${className}`)
        h2= title
        .roll-link-container
            each val in data
                a(href=`${val.url}`)= val.title  
        a.btn-more(href=`${url}`)
            span More  
            img(src = "/images/readmore.svg" alt="readmore" id="readmore").i-1

block css

    link(rel="stylesheet" href="/stylesheets/news/common.css")
    link(rel="stylesheet" href="/stylesheets/news/news.css")
    link(rel="stylesheet" href="/stylesheets/news/press-release.css")
    link(rel="stylesheet" href="/stylesheets/index.css")

block content

    #home-carousel.revert-margin
        #slide-container.snap-scroll.hide-scroller
            each banner in banners
                +getBanner(banner)

        #carousel-controls 
            .arrows
                img(src="/images/navigate_before.svg" alt="previous-slide" id="prev-slide").i-1
                img(src="/images/navigate_before.svg" alt="next-slide" class="right-arrow" id="next-slide").i-1
            -var n = 0
            #slide-indicators
                while n < banners.length
                    if n == 0
                        .slide-button#active-slide(data-slideid=n++)
                    else
                        .slide-button(data-slideid=n++)
    #home-about.width-control-700
        .about-aicte
            h2 Welcome to AICTE
            p All India Council for Technical Education (AICTE) was set up in November 1945 as a national-level Apex Advisory Body to conduct a survey on the facilities available for technical education and to promote development in the country in a coordinated and integrated manner.

            .btn-grp
                a.btn-highlight(href="/about/") About AICTE
                a.btn-highlight(href="/") PGDM Student Verification
                a.btn-highlight(href="/") Centralized Support Systems

        +getPageRoll(quicklinks, "Quick Links", "", "quick-links")
        +getPageRoll(announcements, "Announcements", "", "announcements")

    #home-stats.gray-bg
        h2.sub-title.center Our Institutes 
        .stats
            .stat-container 
                img(src="/images/image 64.svg" alt="").i-1
                .stat-info 
                    p.big-stat 9.6 K
                    p.stat-what Institutions
            .stat-container 
                img(src="/images/image 65.svg" alt="").i-1
                .stat-info 
                    p.big-stat 196
                    p.stat-what New Institutions
            .stat-container 
                img(src="/images/image 66.svg" alt="").i-1
                .stat-info 
                    p.big-stat 3.0 M
                    p.stat-what Total Intake
            .stat-container 
                img(src="/images/image 67.svg" alt="").i-1
                .stat-info 
                    p.big-stat 652 K
                    p.stat-what Placement

        p.year In the Academic Year of 2020 - 2021

        a(href='/' class="flex underlink") 
            span View More on AICTE Dashboard
            img(src="/images/Arrow 7.svg" alt="readmore" id="readmore").i-0

    #home-news.width-control-700 
        .sub-title.center News 
        .content-container 
            -var i=0
            while i < 3
                -var data = news[i++]
                .news-container
                    .news-bottom 
                        img(src="/images/calender.svg" class="calendar" alt="").i-1
                        span.date= moment(data.date).format('MMMM Do, YYYY')
                        span.dot &bull;
                        span.source= data.source
                    a.headline(href=`${data.url}`)= data.headline
                    p.content= data.content.indexOf(".") !== -1 ? data.content.substring(0, data.content.indexOf(".")) : data.content
        a(href='/' class="flex underlink") 
            span Read More News
            img(src="/images/Arrow 7.svg" alt="readmore" id="readmore").i-0

    #press-wrapper.gray-bg
        #news-press.width-control-400
            .sub-title.center Press Releases 
            .content-container 
                -var i=0
                while i < 3
                    -var data = press[i++]
                    .news-container
                        .news-bottom 
                            img(src="/images/calender.svg" class="calendar" alt="").i-1
                            span.date= moment(data.date).format('MMMM Do, YYYY')
                        a.headline(href=`${data.url}`)= data.content
            a(href='/' class="flex underlink") 
                span See More Press Releases
                img(src="/images/Arrow 7.svg" alt="readmore" id="readmore").i-0

    #bureaus.pd 
        .sub-title.center Bureaus 
        #b-scroller.flex.snap-scroll.hide-scroller 
            .b-slide(style="--background: url('/images/Homepage_Bureas_RIFD.jfif')")
                .b-text
                    .b-title Overview
                    .b-desc An Overview of Bureaus and Cells.
                    .flex.b-lmore 
                        span Learn More
                        img(src="/images/bx_bxs-right-arrow.svg" alt="")
            .b-slide(style="--background: url('/images/Homepage_Bureas_Approvals.jpg')")
                .b-text
                    .b-title Approval
                    .b-desc As defined in the AICTE act 1987, Technical Education means programmes of Education, Research, and training in Engineering and Technology, Architecture, Town Planning, Management, Pharmacy, and Applied Arts and Crafts, and such other programmes or areas as the Central Government may in consultation with the Council.
                    .flex.b-lmore 
                        span Learn More
                        img(src="/images/bx_bxs-right-arrow.svg" alt="")
            .b-slide(style="--background: url('/images/Homepage_Bureas_Policy.jpg')")
                .b-text
                    .b-title Policy & Academic Planning
                    .b-desc Planning and framing of policies related to Academics for strengthening and improving quality of Technical Education
                    .flex.b-lmore 
                        span Learn More
                        img(src="/images/bx_bxs-right-arrow.svg" alt="")
            .b-slide(style="--background: url('/images/Homepage_Bureaus_Administration.jpg')")
                .b-text
                    .b-title Administration
                    .b-desc Administration consists of the performance or management of business operations and thus the making or implementing of major decisions. Administration can be defined as the universal process of organizing people and resources efficiently so as to direct activities toward common goals and objectives.
                    .flex.b-lmore 
                        span Learn More
                        img(src="/images/bx_bxs-right-arrow.svg" alt="")
            .b-slide(style="--background: url('/images/Homepage_Bureaus_Finance_0.jpg')")
                .b-text
                    .b-title Finance
                    .b-desc Finance Bureau has been mandated to manage Finances (Funds) efficiently and effectively in such a manner as to accomplish the objectives of the organization by planning, monitoring, organizing, and controlling of the monetary resources of an organization.
                    .flex.b-lmore 
                        span Learn More
                        img(src="/images/bx_bxs-right-arrow.svg" alt="")


    #scholarships.width-control-400
        h2.sub-title.center Scholarships
        <br>
        <div class="home-ship-top">
            <div class="home-ship-center">
            <div class="home-ship-title">
                <img class="home-ship-img" src="/images/home-ship-img1.svg">
                <p class="home-ship-head">National e-Scholarship<p>
            </div>
   
                <p class="home-ship-desc">National e-Scholarship is the one-stop solution to help students seek various scholarships.</p>
           
                <button class="home-ship-button">Apply Now  <img class="home-ship-buttonimg" src="/images/home-ship-img2.svg"></img></button>
           
            </div>
            <div class="home-ship-center">
            <div class="home-ship-title">
                <img class="home-ship-img" src="/images/home-ship-img3.svg">
                <p class="home-ship-head">Pragati and Saksham<p>
            </div>
   
                <p class="home-ship-desc">Scholarship for girls under the Pragati Scheme and scholarship for differently-abled students under Saksham Scheme.</p>
           
                <button class="home-ship-button">Apply Now  <img class="home-ship-buttonimg" src="/images/home-ship-img2.svg"></img></button>
           
            </div>
            <div class="home-ship-center">
            <div class="home-ship-title">
                <img class="home-ship-img" src="/images/home-ship-img4.svg">
                <p class="home-ship-head">India Innovation Initiative<p>
            </div>
   
                <p class="home-ship-desc">India's largest innovation challenges jointly promoted by the CII and Department of Science & Technology.</p>
           
                <button class="home-ship-button">Apply Now  <img class="home-ship-buttonimg" src="/images/home-ship-img2.svg"></img></button>
              
            </div>
            <div class="home-ship-center">
            <div class="home-ship-title">
                <img class="home-ship-img" src="/images/home-ship-img5.svg">
                <p class="home-ship-head">Vidya Lakshmi<p>
            </div>
   
                <p class="home-ship-desc">Vidya Lakshmi is a first-of-its-kind portal for students seeking educational loan.</p>
           
                <button class="home-ship-button">Apply Now  <img class="home-ship-buttonimg" src="/images/home-ship-img2.svg"></img></button>
           
            </div>
        </div>
          <br>
    h1.sub-title.center Contact Us
    <br>
    <div class="width-control-700 home-contact-left-head">
        <div class="home-contact-left-div"> 
            <div class="box">
                <section class="info">
                    <br>
                    <p class="home-contaclat-left-subtitle">Contact Information</p>
                  
                    <div class="home-contact-left-set">
                        <img src="/images/phone.svg" alt="phone" color="white" class="i-1">
                        <p class="home-contact-left-subtitlesmall">011-26131576</p>
                    </div>
                    <div class="home-contact-left-set">
                        <img src="/images/mail.svg" alt="email" color="white" class="i-1">
                        <p class="home-contact-left-subtitlesmall">chairman@aicte-india.org</p>
                    </div>
                    <div class="home-contact-left-set">
                        <img src="/images/location.svg"class="special-image i-1" alt="location" color="white">
                        <p class="home-contact-left-subtitlesmall">Vasant Kunj, New Delhi</p>
                    </div>
                </section>
                    <div class="home-contact-left-set2">
                        <img src="/images/facebook.svg" height="24px" width="24px" alt="location" color="white" class="i-1">
                        <img src="/images/twittericon.svg" height="24px" width="24px" alt="location" color="white" class="i-1">
                        <img src="/images/andriodicon.svg" height="24px" width="24px" alt="location" color="white" class="i-1">
                    </div>
            </div>
            </div>
            <div class="contact-form-div">
            <h2 class="home-contact-left-subtitle" >Contact Form</h2>
            <form>
                <div>
                    <div class="home-form-inputtop">
                        <div class="firstname">
                            <label for="firstname" class="home-form-label">First Name</label>
                            <br>
                            <input type="text" id="fname" class="home-form-input" required>
                        </div>
                        <div class="lastname">
                            <label for="lastname" class="home-form-label">Last Name</label>
                            <br>
                            <input type="text" id="lname" class="home-form-input" required>
                        </div>
                    </div>
                        <div class="email-div">
                    <div class="home-form-inputtop">
                        <div class="email">
                            <label for="email" class="home-form-label">Email</label>
                            <br>
                            <input type="email" id="email" class="home-form-input" required>
                        </div>
                        <div class="mobileno">
                            <label for="mobileno" class="home-form-label">Mobile Number</label>
                            <br>
                            <input type="mobileno" id="mobileno" class="home-form-input" required>
                        </div>
                    </div>
                    </div>
                        <div class="message-div" >
                            <div class="message" >
                                <label for="message" class="home-form-label">Message</label>
                                <br>
                                <textarea id="message" class="home-form-inputarea" ></textarea>
                            </div>
                        </div>
                    <br>
                    <div class="submit">
                        <input type="submit" class="home-form-button" value="Send message">
                    </div>
                </div>
            </form> 
    </div>
    </div>
    <br>

    #subscribe-cover
        #sub-container 
            h2 Subscribe to our Newsletters 

            #sub-form 
                input(type="email" placeholder="Enter Your Email Address") 
                button SUBSCRIBE

            .btn-grps-social 
                img(src="/images/bxl_facebook.svg" alt="" class="i-1")
                img(src="/images/fa-brands_flickr.svg" alt="" class="i-1")
                img(src="/images/bxl_youtube.svg" alt="" class="i-1")
                img(src="/images/ant-design_twitter-outlined.svg" alt="" class="i-1")
                img(src="/images/ant-design_instagram-outlined.svg" alt="" class="i-1")


block scripts 
    script(src="/javascripts/index.js")     
