extends ../layouts/layout
block head
     title  overview

block css 
    block css 
    link(rel="stylesheet" href="/stylesheets/styles.css")
    link(rel="stylesheet" href="/stylesheets/about/about-leadershipteam.css")
block content
    h1.page-title LEADERSHIP TEAM
    <p >Meet the individuals who bring unique perspectives, broad experience acquired through close collaborations, and deep insight to our work.</p>
    <br></br>
    <div class=center>
    <div class=flex-wrap-head>
    <div>
    <img src="/images/Prof. Anil D. Sahasrabudhe.svg" alt="news-news-hero" class=leaders-image-head></img>
    <p class="leader-name">Prof. Anil D. Sahasrabudhe</p>
    <p class="leader-post">Chairman</p>
    </div>
    <div>
    <img src="/images/Prof. M.P. Poonia.svg" alt="news-news-hero" class=leaders-image-head></img>
    <p class="leader-name">Prof. M.P. Poonia</p>
    <p class="leader-post">Vice Chairman</p>
    </div>
    <div>
    <img src="/images/Prof. Rajive Kumar.svg" alt="news-news-hero" class=leaders-image-head></img>
    <p class="leader-name">Prof. Rajive Kumar</p>
    <p class="leader-post">Member Secretary</p>
    </div>
    </div>
    </div>
    <br></br>
    h2.sub-title.left CIO.Advisor I/CCO
    <div class=flex-wrap>
    <div class=border-grey>
    <img src="/images/Dr. Abhay Jere .svg" alt="news-news-hero" class=leaders-image></img>
    <div class=flex>
    <div >
    <p class="leader-name">Dr. Abhay Jere </p>
    <p class="leader-post">Chief Innovation Officer</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>
    </div>
    </div>
    <div class=border-grey>
    <img src="/images/Smt. Mamta Rani Agarwal.svg" alt="news-news-hero" class=leaders-image></img>
    <div class=flex>
    <div >
    <p class="leader-name">Smt. Mamta Rani Agarwal</p>
    <p class="leader-post">Advisor-I</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>
    </div>
    </div>

    <div class=border-grey>
    <img src="/images/Prof. Rajendra B Kakde.svg" alt="news-news-hero" class=leaders-image></img>
    <div class=flex>
    <div >
    <p class="leader-name">Prof. Rajendra B Kakde</p>
    <p class="leader-post">Adviser-I</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>
    </div>
    </div >
    <div class=border-grey>
    <img src="/images/Dr Buddha Chandrashekhar.svg" alt="news-news-hero" class=leaders-image></img>
    <div class=flex>
    <div >
    <p class="leader-name">Dr Buddha Chandrashekhar</p>
    <p class="leader-post">Chief Coordinating Officer</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>
    </div>
    </div>
    <div class="border-grey">
    <img src="/images/Dr. Neeraj Saxena.svg" alt="news-news-hero" class=leaders-image></img>
    <div class="flex">
    <div>
    <p class="leader-name">Dr. Neeraj Saxena</p>
    <p class="leader-post">Adviser-I</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>

    </div>
    </div>
    </div>
    <br></br>
    h2.sub-title.left Adviser II
    
    <div class=flex-wrap>
    <div class=border-grey>
    <img src="/images/Prof. Rajendra B Kakde2.svg" alt="news-news-hero" class=leaders-image></img>
   
    <div class=flex>
    <div>
    <p class="leader-name">Prof. Rajendra B Kakde</p>
    <p class="leader-post">Adviser-I</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>

    </div>
    </div>
    <div class=border-grey>
    <img src="/images/Dr Ramesh Unnikrishnan.svg" alt="news-news-hero" class=leaders-image></img>
    <div class=flex>
    <div>
    <p class="leader-name">Dr Ramesh Unnikrishnan</p>
    <p class="leader-post">Adviser-II</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>

    </div>
    </div>
    </div>
    <br></br>
    h2.sub-title.left Directors
    <div class=flex-wrap>
    <div class=border-grey>
    <img src="/images/Col. B Venkat.svg" alt="news-news-hero" class=leaders-image></img>
    <div class=flex>
    <div>
    <p class="leader-name">Col. B Venkat</p>
    <p class="leader-post">Director</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>
    </div >
    </div >
    <div class=border-grey>
    <img src="/images/Lt. Col. Kailash Bansal.svg" alt="news-news-hero" class=leaders-image></img>
    <div class=flex>
    <div>
    <p class="leader-name">Lt. Col. Kailash Bansal</p>
    <p class="leader-post">Director</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>
    </div >
    </div >
    <div class=border-grey>
    <img src="/images/Smt Gujju Manushree.svg" alt="news-news-hero" class=leaders-image></img>
    <div class=flex>
    <div>
    <p class="leader-name">Smt Gujju Manushree</p>
    <p class="leader-post">Director</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>
    </div >
    </div >
    <div class=border-grey>
    <img src="/images/Dr Amit Kumar Srivastava.svg" alt="news-news-hero" class=leaders-image></img>
    <div class=flex>
    <div>
    <p class="leader-name">Dr Amit Kumar Srivastava</p>
    <p class="leader-post">Director</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>
    </div >
    </div >
    <div class=border-grey>
    <img src="/images/Sh Ravinder Singh.svg" alt="news-news-hero" class=leaders-image></img>
    <div class=flex>
    <div>
    <p class="leader-name">Sh Ravinder Singh</p>
    <p class="leader-post">Director</p>
    </div>
    <img src="/images/mail.svg" alt="news-news-hero" class=mail></img>
    </div >
    </div >
    </div >
    <br></br>