extends ../layouts/layout

block head
    title News - AICTE

block css 
    link(rel="stylesheet" href="/stylesheets/news/news-events.css")


block content 
    
    h1.page-title EVENTS
    .hero
        img(src="/images/news-events.svg" alt="news-news-hero")
        p  Explore the details of our upcoming and past events.
    h2.sub-title.left Past Events
    <div class=main> 
    <div > 
    <div class=rows> 
   
    <img src="/images/news-events-image1.svg" alt="news-news-hero" class="news-event-image">
    <div class=center-event> 
    <div class="news-event-top1">
    <p class="news-event-name">Launch of SWAYAM MOOC’s platform<p>
    <p class="news-event-time">Sunday, July 9, 2017 New Delhi<p>
    <div class=line></div>

    <br>
    <p class="news-event-description">Hon’ble President of India, Hon’ble Shri Pranab Mukherjee attended the launch of SWAYAM, 32 SWAYAM Prabha DTH Channels and National Academic Depository at the National Convention on Digital Initiat<p>
    </div>
    </div>


    </div> 
    <div class="rows1"> 
   
    <div class="center-event"> 
    <div class="news-event-top1">
    <p class="news-event-name">AICTE-ECI Chhatra Vishwakarma Awards 2017<p>
    <p class="news-event-time">Tuesday, September 19, 2017 AICTE HQ, New Delhi<p>
    <div class=line></div>
    br
    <p class="news-event-description">All India Council for Technical Education (AICTE), Ministry of Human Resource Development, Govt.</p>
    </div>
    </div>
    <img src="/images/news-events-image2.svg" alt="news-news-hero" class="news-event-image">


    </div> 
    <div class=rows> 
   
    <img src="/images/news-events-image3.svg" alt="news-news-hero" class="news-event-image">
    <div class=center-event> 
    <div class="news-event-top1">
    <p class="news-event-name">Smart India Hackathon 2017<p>
    <p class="news-event-time">Wednesday, August 17, 2016 New Delhi<p>
    <div class=line></div>
    <br>
    <p class="news-event-description">Shri Prakash Javadekar, hon'ble Union Minister of Human Resources, introduces Smart India Hackathon 2017.<p>
    </div>
    </div>

    </div> 
    <br>
    <div class=more-end>
    <button class="btn-more">More Events</button>
    </div>
    </div>
    </div>
