extends ../layouts/layout

block head 
    title News - AICTE

block css
    link(rel="stylesheet" href="/stylesheets/news/common.css")
    link(rel="stylesheet" href="/stylesheets/news/overview.css")

block content
    #news-overview 
        h1.page-title news overview

        .hero
            img(src="/images/news-overview-hero.svg" alt="news overview")
            p Read the latest news and press releases

        .page-split
            .page-split-left 
                h2.sub-title.left In the News
                .content-container 
                    each data in news
                        .news-container
                            a.headline(href=data.url)= data.headline
                            p.content= data.content
                            .news-bottom
                                span.date= moment(data.date).format("MMMM Do, YYYY") 
                                span.dot  &bull; 
                                span.source= data.source 
                            .line 
                a.btn-more#more-news(href="/news/")
                    span All News
                    img(src="/images/readmore.svg" alt="readmore" id="readmore")

            .page-split-right
                h2.sub-title.right Press Releases
                h2.sub-title.left.hide Press Releases
                .content-container
                    each data in press
                        .news-container
                            a.headline(href=data.url) #{data.content}
                            .news-bottom
                                span.date= moment(data.date).format("MMMM Do, YYYY")
                            .line
                a.btn-more#more-press(href="/news/press-releases")
                    span Read More
                    img(src="/images/readmore.svg" alt="readmore" id="readmore")

    #media-contact-section
        h1.sub-title.center Media Conatct
        .media-contact
            .media-contact-container
                h3 Media Cell
                p Ph: 011-29581016
                p media_officer@aicte-india.org
            .media-contact-container 
                h3 Dalchand
                p Ph: 011-29581028
                p pro@aicte-india.org