extends ../layouts/layout

block head 
    title News - AICTE

block css
    link(rel="stylesheet" href="/stylesheets/news/common.css")
    link(rel="stylesheet" href="/stylesheets/news/overview.css")

block content
    #news-overview.width-control-700 
        h1.page-title news overview

        .hero
            img(src="/images/news-overview-hero.svg" alt="news overview")
            p Read the latest news and press releases

        .news-overview
            h2.sub-title.left In the News
            .content-container 
                each data in news
                    .news-container
                        .news-bottom 
                            img(src="/images/calender.svg", class="calendar i-1" alt="")
                            span.date= moment(data.date).format('MMMM Do, YYYY')
                            span.dot &bull;
                            span.source= data.source
                        a.headline(href=`${data.url}`)= data.headline
                        p.content= data.content.indexOf(".") !== -1 ? data.content.substring(0, data.content.indexOf(".")) : data.content
            a(href='/' class="flex underlink") 
                span Read More News
                img(src="/images/Arrow 7.svg" alt="readmore" id="readmore").i-0

        .press-overview
            h2.sub-title.left Press Releases
            .content-container
                each data in press
                    .news-container
                        .news-bottom 
                            img(src="/images/calender.svg", class="calendar i-1" alt="")
                            span.date= moment(data.date).format('MMMM Do, YYYY')
                        a.headline(href=`${data.url}`)= data.content
            a(href='/' class="flex underlink") 
                span See More Press Releases
                img(src="/images/Arrow 7.svg" alt="readmore" id="readmore").i-0

    #media-contact-section
        h1.sub-title.center Media Conatct
        .media-contact
            .media-contact-container
                h3 Media Cell
                p Ph: 011-29581016
                p media_officer@aicte-india.org
            .media-contact-container 
                h3 Dalchand
                p Ph: 011-29581028
                p pro@aicte-india.org