extends ../layouts/layout
block head
     title  Leadership Team

block css 
    block css 
    link(rel="stylesheet" href="/stylesheets/styles.css")
    link(rel="stylesheet" href="/stylesheets/bureaus/bureaus-overview.css")
block content
    h1.page-title overview
    .hero
            img(src="/images/bureaus-overview.svg" alt="news-news-hero")
    p.hero  The organization structure of the AICTE comprises of the following bureaus
    <div class=flex-wrap>

    <div class=width-small>
    <img class="bureaus-image" src="/images/approval-image.svg"></img>
    <p class="bureaus-title">APPROVAL</p>
    <div class=bgcolor-white>
    <p class="leader-name">Prof. Rajendra B Kakde</p>
    <p class="leader-post">Adviser-I</p>
    <p class=bureaus-description>The Approvals Bureau processes proposals for grant of approval for establishing a new technical institution or an integrated campus.</p>
    <br></br>
    <div class=flex-end>  
    <img class=bureaus-bulletin src="/images/bureaus-bulletin.svg"></img>
    <p class=learn-more>Learn More<p>
    </div>
    </div>
    </div>
    <div class=width-small>
    <img class="bureaus-image" src="/images/policy.svg"></img>
    <p class="bureaus-title">POLICY & ACADEMIC PLANNING</p>
    <div class=bgcolor-white>
    <p class="leader-name">Dr Ramesh Unnikrishnan</p>
    <p class="leader-post">Advisor-II</p>
    <p class=bureaus-description>Special Cell for Research & Coordination with State Govt./UTs. and others coordinates and integrates development of technical education.</p>
    <br></br>
    <div class=flex-end>  
    <img class=bureaus-bulletin src="/images/bureaus-bulletin.svg"></img>
    <p class=learn-more>Learn More<p>
    </div>
    </div>
    </div>
    <div class=width-small>
    <img class="bureaus-image" src="/images/administration.svg"></img>
    <p class="bureaus-title">ADMINISTRATION</p>
    <div class=bgcolor-white>
    <p class="leader-name">Smt Gujju Manushree</p>
    <p class="leader-post">Director</p>
    <p class=bureaus-description>The Administration Bureau nominates AICTE representatives on various bodies and committees, along with providing logistic support.</p>
    <br></br>
    <div class=flex-end>  
    <img class=bureaus-bulletin src="/images/bureaus-bulletin.svg"></img>
    <p class=learn-more>Learn More<p>
    </div>
    </div>
    </div>
    <div class=width-small>
    <img class="bureaus-image" src="/images/FINANCE.svg"></img>
    <p class="bureaus-title">FINANCE</p>
    <div class=bgcolor-white>
    <p class="leader-name">Sh. Ravinder Singh</p>
    <p class="leader-post">Director</p>
    <p class=bureaus-description>The Finance Bureau owns drawing and disbursement of planned and non-planned accounts, along with the management of cash and bills.</p>
    <br></br>
    <div class=flex-end>  
    <img class=bureaus-bulletin src="/images/bureaus-bulletin.svg"></img>
    <p class=learn-more>Learn More<p>
    </div>
    </div>
    </div>
    </div>
    h2.sub-title.left AICTE Cells
    <div class="cells-top">
    <div >

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>ATAL Academy<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>E-governance<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>NEAT<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>PMSSS (for J&K Students)<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Innovation<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Skill Development<p>
    </div>

    </div>

   
    
    <div>

  
    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>SWAYAM<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Grievance Redressal<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Legal<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Vigilance<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Estate Management<p>
    </div>

    </div>

    <div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>RTI<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Parliament<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Internal Audit<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Hindi<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Faculty Development<p>
    </div>
    </div>

    <div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Induction Program<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Institutional Development<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Student's Development<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Margdarshak<p>
    </div>

    <div class=cells>
    <img class="bureaus-bulletin2" src="/images/bureaus-bulletin2.svg"></img>
    <p class=cells-subtitle>Media<p>
    </div>
    </div>
     
    
    </div>
    
    
    
    
    
